# Socket.IO Server Environment Variables

# Port for the server (Railway will set this automatically)
PORT=4000

# CORS origins (comma-separated)
# For development: http://localhost:3000
# For production: https://vercel.com/phumphuts-projects/pet-sitter-app
SOCKET_IO_CORS_ORIGIN=http://localhost:3000,https://vercel.com/phumphuts-projects/pet-sitter-app

DATABASE_URL="postgresql://neondb_owner:npg_FK8d2ZDRyTVI@ep-rough-wind-a1a1nhwe-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

NEXTAUTH_URL="http://localhost:3000/"

NEXTAUTH_SECRET="bMKIT1FM3bji6GHUbPUV12suHwd8icu4Iczws6K69HfGHe6bPUkUn4GAPT1B5k1ds2KJCdTQJHYkjEDqepJVVQIxdxtztvtkFsaQAAI34j/jURD98/SPe7iDQcmGuaFoy6Y6WM0W1Or6qpIm7Gs3Is4AEv+OtS1yGxZSW2FxfbvSz9K9d1MJbHoiOiZ9v5o8vn6yu3CefKY8HmyBIcl8fWDWZYGRuHzJ8lbTklLvtci0w22+6+kBtGVmwArks3Bb/K2VJw0xcvGy3gyxnZAU1CiiLFmMt4zRHGEXBNC0Hpr3OoYlSyhma0anOBh1bXnpnvqmDD56ORFZOOXxMV325w=="

CLOUDINARY_CLOUD_NAME=df1j8dvg0
CLOUDINARY_API_KEY=957636184682766
CLOUDINARY_API_SECRET=xBLnmv8E_pfG6vWfXtx10nKdInE